<% if @user.errors.any? %>
    <div class="alert alert-error" align="center">
      <a class="close" data-dismiss="alert"> × </a>
      <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>
    </div>
<%end%>
<div class="row">
  <div class="span5 offset3 login_container" >
    <%= form_for @user, :url => { :action => "update_password"}, :html => {:class => "form-horizontal"}, :method => "PUT" do |f|%>
        <legend>Change Password</legend>
        <div class="control-group">
          <label class="control-label" style="font-size: 15px;">
            New Password
          </label>
          <div class="controls">
            <%= f.password_field :password, :required => true %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label" style="font-size: 15px;">
            Confirm Password
          </label>
          <div class="controls">
            <%= f.password_field :password_confirmation, :required => true %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Reset Password", :class => "btn btn-inverse" %>
            <%= link_to "Cancel", root_path, :class => "btn" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span10 offset2 webonise_logo">
    <img src="/assets/weboniselab.png" >
  </div>
</div>
