<%# if @feedbacks.length != 0%>
<%# if get_seconds(Time.now) >= 64800  and get_seconds(Time.now) <= 82800 %>
    <table class="table">
      <colgroup>
        <col class="span3">
        <col class="span3">
        <col class="span3">
      </colgroup>
      <% if @feedbacks.length == 0 %>
          <caption>
            <h2>Not Assigned!</h2>
          </caption>
      <% else %>
          <caption>
            <h2>Feedback of day <%= Time.now.wday %></h2>
          </caption>
          <thead>
          <tr style = "background-color: #A2AFCC;">
            <th>Weboniser</th>
            <th>Feedback</th>
            <th></th>
          </tr>
          </thead>
          <% @feedbacks.each do |feedback| %>
              <tr id="feedback-row<%= feedback.id%>">
                <%= form_tag "/users/#{feedback.id}/update_feedback", :method => "PUT", :remote => true, :html => { :'data-type' => 'html', :id => 'feedback_form' } do %>
                    <td><%= user_name(@users, feedback.to_id) %></td>
                    <td><%= text_field_tag :feedback, params[:feedback], :size => 50, :maxlength => 50, :required => true, :onkeyup => "nospaces(this)" %></td>
                    <td><%= submit_tag "submit", :class => "btn btn-success", :disable_with => "Submitting..." %></td>
                <% end %>
              </tr>
          <% end %>
      <% end %>
    </table>
<%# else %>
    <!--<div align="center"><h2> Feedback time between 6:00 PM TO 11:00 PM </h2></div>-->
<%# end %>
<script type="text/javascript">
    function nospaces(feedback){
        if(feedback.value.match(/\s/g)){
            alert('Sorry, you are not allowed to enter any spaces');
            feedback.value=feedback.value.replace(/\s/g,'');
        }
    }
</script>