<%# if @feedbacks.length != 0%>
<%# if get_seconds(Time.now) >= 64800  and get_seconds(Time.now) <= 82800 %>

<div class="row  ">
  <div class="span12 feedback_Container table_padding ">
    <table class="table table-hover" id="table_changes">
      <% if @feedbacks.length == 0 %>
          <caption class="feedback_Container_Caption">
            Not Assigned!
          </caption>
      <% else %>
          <caption class="feedback_Container_Caption">
            FEEDBACK For WEEKDAY- <%= Time.now.wday %>(<%= Time.now.strftime("%d-%b-%Y")%>)
          </caption>
          <thead>
          <tr>
            <th>NAME</th>
            <th>FEEDBACK</th>
            <th></th>
          </tr>
          </thead>
          <% @feedbacks.each do |feedback| %>
              <tr id="feedback-row<%= feedback.id%>">
                <%= form_tag "/users/#{feedback.id}/update_feedback", :method => "PUT", :remote => true, :html => { :'data-type' => 'html', :id => 'feedback_form' } do %>
                    <td><%= user_name(@users, feedback.to_id) %></td>
                    <td><%= text_field_tag :feedback, params[:feedback], :size => 50, :maxlength => 50, :required => true, :onkeyup => "nospaces(this)" %></td>
                    <td><%= submit_tag "SUBMIT", :class => "btn btn-success", :style => "font-weight=bold;" %></td>
                <% end %>
              </tr>
          <% end %>
      <% end %>
    </table>
  </div>
</div>
<%# else %>
<!--<div align="center"><h2> Feedback time between 6:00 PM TO 11:00 PM </h2></div>-->
<%# end %>
<div class="row">
  <div class="span10 offset1 webonise_logo">
    <img src="/assets/weboniselab.png" >
  </div>
</div>
<script type="text/javascript">
    function nospaces(feedback){
        if(feedback.value.match(/\s/g)){
            alert('Sorry, you are not allowed to enter any spaces');
            feedback.value=feedback.value.replace(/\s/g,'');
        }
    }
</script>