<% if @user.errors.any? %>
    <div class="alert alert-error" align="center">
      <a class="close" data-dismiss="alert"> × </a>
      <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>
    </div>
<%end%>
<%= form_for @user, :url => {:action => "create_password"}, :html => {:id => "add_pg", :class => "form-horizontal",:style => "margin: auto; width:400px;"}, :method => "PUT" do |f| %>
    <fieldset>
      <div id="legend">
        <legend>Create Password</legend>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= f.label :password %>
        </label>
        <div class="controls">
          <%= f.password_field :password, :required => true %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= f.label :password_confirmation %>
        </label>
        <div class="controls">
          <%= f.password_field :password_confirmation, :required => true %>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Create User", :class => "btn btn-success" %>
        </div>
      </div>
    </fieldset>
<% end %>