<% if @user.errors.any? %>
    <div class="alert alert-error" align="center">
      <a class="close" data-dismiss="alert"> × </a>
      <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>
    </div>
<%end%>
<%= form_for @user, :url => {:action => "create_password"}, :html => {:id => "add_pg", :class => "form-horizontal",:style => "margin: auto; width:400px;"}, :method => "PUT" do |f| %>
    <fieldset>
      <div id="legend">
        <legend>Create Password</legend>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= f.label :password %>
        </label>
        <div class="controls">
          <%= f.password_field :password, :id => "pass1", :required => true %>
        </div>
      </div>
      <div class="control-group">
        <label class="control-label">
          <%= f.label :password_confirmation %>
        </label>
        <div class="controls">
          <%= f.password_field :password_confirmation, :id => "pass2", :onkeyup => "checkPass(); return false;", :required => true %>
          <span id="confirmMessage" class="confirmMessage"></span>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <%= f.submit "Create Password", :class => "btn btn-success" %>
        </div>
      </div>
    </fieldset>
<% end %>

<script type="text/javascript">
    function checkPass()
    {
        var pass1 = document.getElementById('pass1');
        var pass2 = document.getElementById('pass2');
        var message = document.getElementById('confirmMessage');
        var goodColor = "#66cc66";
        var badColor = "#ff6666";
        if(pass1.value == pass2.value){
            pass2.style.backgroundColor = goodColor;
            message.style.color = goodColor;
            message.innerHTML = "Passwords Match!"
        }else{
            pass2.style.backgroundColor = badColor;
            message.style.color = badColor;
            message.innerHTML = "Passwords Do Not Match!"
        }
    }
</script>