<% if current_admin %>
    <ul class="nav">
      <li ><%= link_to "Users", admin_users_path %></li>
    </ul>
    <ul class="nav">
      <li ><%= link_to "Assigned List", assigned_feedback_list_admin_admins_path %></li>
    </ul>
    <ul class="nav">
      <li ><%= link_to "Add User", add_user_admin_admins_path %></li>
    </ul>
    <ul class="nav pull-right">
      <li ><%= link_to "logout", logout_path %></li>
    </ul>
    <ul class="nav pull-right">
      <li ><%= link_to "Change Password",  reset_password_admin_admin_path(logged_in_user) %></li>
    </ul>
<% end %>
<% if current_user %>
    <ul class="nav">
      <li ><%= link_to "Give Feedback",  give_feedback_users_path %></li>
    </ul>
    <ul class="nav">
      <li ><%= link_to "Received Feedback",  received_feedback_users_path %></li>
    </ul>
    <ul class="nav pull-right">
      <li ><%= link_to "logout", logout_path %></li>
    </ul>
    <ul class="nav pull-right">
      <li ><%= link_to "Change Password",   reset_password_user_path(logged_in_user) %></li>
    </ul>
    <ul class="nav pull-right">
      <li > <%=link_to "welcome #{logged_in_user.name} ",nil , :remote => true %></li>
    </ul>
<% end %>
<% if !logged_in_user %>
    <ul class="nav pull-right">
      <li ><%= link_to "Login", login_path %></li>
    </ul>
<% end %>
