<table class="table table-bordered">
  <colgroup>
    <col class="span3">
    <col class="span3">
  </colgroup>
  <% if feedbacks.length == 0 %>
      <caption>
        <h2> Not assigned this week</h2>
        <%= link_to image_tag('/assets/previous.png', :height => '20', :width => '20'), nil, :date => (begin_date.to_date - 1.day), :remote => true, :id => "previous-assigned-feedback" %>
        <%= begin_date.nil? ? "" : "( #{begin_date} to #{end_date})" %>
        <%= link_to image_tag('/assets/next.png', :height => '20', :width => '20'), nil, :date => (end_date.to_date + 1.day), :remote => true, :id => "next-assigned-feedback" %>
      </caption>
  <% else %>
      <caption>
        <h2>Assigned Feedback List</h2>
        <%= link_to image_tag('/assets/previous.png', :height => '20', :width => '20'), nil, :date => (begin_date.to_date - 1.day), :remote => true, :id => "previous-assigned-feedback" %>
        <%= begin_date.nil? ? "" : "( #{begin_date} to #{end_date})" %>
        <%= link_to image_tag('/assets/next.png', :height => '20', :width => '20'), nil, :date => (end_date.to_date + 1.day), :remote => true, :id => "next-assigned-feedback" %>
      </caption>
      <thead>
      <tr style = "background-color: #A2AFCC;">
        <th>Contributor</th>
        <th>Recipient</th>
      </tr>
      </thead>
      <% feedbacks.each do |feedback| %>
          <tr>
            <td><%= link_to user_name(users,feedback.from_id), from_feedback_admin_user_path(feedback.from_id) %></td>
            <td>
              <% recipients1 = recipients.select{|r| r.from_id == feedback.from_id} %>
              <% recipients1 = recipients1.uniq{|r| r.to_id} %>
              <% recipients1.each do |recipient| %>
                <%= link_to user_name(users, recipient.to_id), to_feedback_admin_user_path(recipient.to_id) %>&nbsp;&nbsp;&nbsp;
              <% end %>
            </td>
          </tr>
      <% end %>
  <% end %>
</table>
<%= page_navigation_links feedbacks %>