<% if @user.errors.any? %>
    <div class="alert alert-error" align="center">
      <a class="close" data-dismiss="alert"> × </a>
      <% @user.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>
    </div>
<%end%>
<div class="row">
  <div class="span5 offset3 login_container" >
    <%= form_tag create_user_admin_admins_path, :class => "form-horizontal", :method => "POST" do %>
        <legend>Create User</legend>
        <div class="control-group">
          <label class="control-label">
            Name
          </label>
          <div class="controls">
            <%= text_field_tag :name, params[:name], :required => true %>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            Email
          </label>
          <div class="controls">
            <%= email_field_tag :email, params[:email], :required => true %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= submit_tag "Create User", :class => "btn btn-success" %>
            <%= link_to "Cancel", admin_admins_path, :class => "btn" %>
          </div>
        </div>
    <% end %>
  </div>
</div>
<div class="row">
  <div class="span10 offset2 webonise_logo">
    <img src="/assets/weboniselab.png" >
  </div>
</div>
