
<table class="table table-bordered">
  <colgroup>
    <col class="span3">
    <col class="span3">
  </colgroup>
  <caption>
    <h2>Given Feedback List <%= user.name %></h2>
  </caption>
  <thead>
  <% logger.info "+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++#{next_month_end_date.inspect}" %>
  <tr style = "background-color: #A2AFCC;">
    <th><div style="float: left;"><%= link_to "<<",nil, :class => "btn btn-info", :style => "padding-bottom: -5px;", :remote => true, :id => "previous-given", :date => end_date.prev_month.beginning_of_month.strftime("%d-%b-%Y"), :user_id => user.id %></div><div align="center"><%= end_date.strftime("%B")  %></div></th>
    <th><div style="float: right;"><%= link_to ">>",nil, :class => "btn btn-info", :style => "padding-bottom: -5px;", :remote => true, :id => "next-given", :date => next_month_end_date.next_month.beginning_of_month.strftime("%d-%b-%Y"), :user_id => user.id  %></div><div align="center"><%= end_date.next_month.strftime("%B")  %></div></th>
  </tr>
  <% for i in 1..5 %>
      <tr>
        <td><%= render :partial => "week_from_feedback", :locals => {:users => users, :feedbacks => feedbacks, :user => user,  :begin_date => begin_date, :end_date => end_date } %></td>
        <td><%= render :partial => "week_from_feedback", :locals => {:users => users, :feedbacks => feedbacks, :user => user,  :begin_date => next_month_begin_date, :end_date => next_month_end_date } %></td>
      </tr>
      <% temp = end_date.next_week(:monday)  %>
      <% begin_date = temp; end_date = end_date.next_week(:friday)  %>
      <% temp = next_month_end_date.next_week(:monday)  %>
      <% next_month_begin_date = temp; next_month_end_date = next_month_end_date.next_week(:friday)  %>
  <% end %>
  </table>
<%= link_to "Back", admin_users_path, :class => "btn" %>
