<table class="table" style="background: #e0efcd;">
  <colgroup>
    <col class="span3">
    <col class="span3">
  </colgroup>
  <caption>
    <h2>List of Feedback by <%= user.name %>(Received)</h2>
  </caption>
  <thead>
  <tr class="th_bg">
    <th style="border-right: 1px solid;"><div style="float: left;" ><%= link_to "<<",nil, :class => "btn arrow_btn", :style => "padding-bottom: -5px;", :remote => true, :id => "previous-received", :date => end_date.prev_month.next_week.strftime("%d-%b-%Y"), :user_id => user.id %></div><div align="center"><h3><%= end_date.strftime("%B-%Y")  %></h3></div></th>
    <th><div style="float: right;"><%= link_to ">>",nil, :class => "btn arrow_btn", :style => "padding-bottom: -5px;", :remote => true, :id => "next-received", :date => end_date.advance(:months => 1).beginning_of_month.next_week.strftime("%d-%b-%Y"), :user_id => user.id  %></div><div align="center"><h3><%= end_date.next_month.strftime("%B-%Y")%></h3></div></th>
  </tr>
  <% for i in 1..5 %>
      <%
         end_date = end_date.end_of_week - 2.days
         begin_date = begin_date.beginning_of_week
         next_month_end_date = next_month_end_date.end_of_week - 2.days
         next_month_begin_date = next_month_begin_date.beginning_of_week
         first_month_feedbacks = feedbacks.select{|f|f.created_at>= begin_date.beginning_of_day and f.created_at <= end_date.end_of_day}
         second_month_feedbacks = feedbacks.select{|f|f.created_at>= next_month_begin_date.beginning_of_day and f.created_at <= next_month_end_date.end_of_day}
      %>
      <tr>
        <td  style="border-right: 1px solid; border-top: none;width: 50%"><%= render :partial => "week_to_feedback", :locals => {:users => users, :feedbacks => first_month_feedbacks, :user => user,  :begin_date => begin_date, :end_date => end_date } %></td>
        <td style="border-top: none; width: 50%"><%= render :partial => "week_to_feedback", :locals => {:users => users, :feedbacks => second_month_feedbacks, :user => user,  :begin_date => next_month_begin_date, :end_date => next_month_end_date } %></td>
      </tr>
      <% temp = end_date.next_week(:monday)  %>
      <% begin_date = temp; end_date = end_date.next_week(:friday)  %>
      <% temp = next_month_end_date.next_week(:monday)  %>
      <% next_month_begin_date = temp; next_month_end_date = next_month_end_date.next_week(:friday)  %>
  <% end %>
  </table>
<%= link_to "Back", admin_users_path, :class => "btn" %>
