<table class="table table-bordered">
  <colgroup>
    <col class="span2">
    <col class="span3">
    <col class="span3">
    <col class="span3">
    <col class="span3">
    <col class="span3">
  </colgroup>
  <caption>
    <b><%= begin_date.nil? ? "" : "( #{begin_date.strftime("%d-%b-%Y")} to #{end_date.strftime("%d-%b-%Y")})" %></b>
  </caption>
  <thead>
  <tr style = "background-color: #A2AFCC;">
    <th>Name</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday</th>
  </tr>
  </thead>
  <% if feedbacks.length != 0 %>
      <% user = feedbacks.to_a.uniq{|u| u.to_id} %>
      <% user.each do |u| %>
          <tr>
            <td><%= user_name(users,u.to_id) %></td>
            <% given_feedbacks =  feedbacks.to_a.select{|f|f.to_id == u.to_id}%>
            <% if given_feedbacks.count == 5%>
                <% given_feedbacks.each do |feedback|%>
                    <% if feedback.created_at.wday == 1 %>
                        <td><%= feedback.feedback%></td>
                    <% elsif feedback.created_at.wday == 2 %>
                        <td><%= feedback.feedback %></td>
                    <% elsif feedback.created_at.wday == 3 %>
                        <td><%= feedback.feedback %></td>
                    <% elsif feedback.created_at.wday == 4 %>
                        <td><%= feedback.feedback %></td>
                    <% elsif feedback.created_at.wday == 5 %>
                        <td><%= feedback.feedback %></td>
                    <% else %>
                        <td>hi</td>
                    <% end %>
                <% end %>
            <% else %>
                <% for i in 2..given_feedbacks.first.created_at.wday %>
                    <td></td>
                <% end %>
                <% given_feedbacks.each do |feedback|%>
                    <% if feedback.created_at.wday == 1 %>
                        <td><%= feedback.feedback%></td>
                    <% elsif feedback.created_at.wday == 2 %>
                        <td><%= feedback.feedback  %></td>
                    <% elsif feedback.created_at.wday == 3 %>
                        <td><%= feedback.feedback %></td>
                    <% elsif feedback.created_at.wday == 4 %>
                        <td><%= feedback.feedback %></td>
                    <% elsif feedback.created_at.wday == 5 %>
                        <td><%= feedback.feedback %></td>
                    <% else %>
                        <td>hi</td>
                    <% end %>
                <% end %>
            <% end %>
          </tr>
      <% end %>
  <% else%>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
      <tr>
        <td>&nbsp;</td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
      </tr>
  <% end %>
</table>
<%#= page_navigation_links feedbacks %>