<%= datepicker_input "user_feedback","created_at" %>
<table class="table table-bordered">
  <colgroup>
    <col class="span2">
    <col class="span3">
  </colgroup>
  <caption>
    <h2>Assigned Feedback List of <%= @user.name %></h2>
  </caption>
  <thead>
  <tr style = "background-color: #A2AFCC;">
    <th>Name</th>
    <th>Assigned Date</th>
  </tr>
  </thead>
  <% @feedbacks.each do |feedback| %>
      <tr>
        <td><%= user_name(feedback.to_id) %></td>
        <td><%= date(feedback.created_at) %></td>
      </tr>
  <% end %>
</table>
<%= link_to "Back", admin_users_path, :class => "btn" %>
<%= page_navigation_links @feedbacks %>