<table class="table table-bordered">
  <colgroup>
    <col class="span2">
    <col class="span3">
    <col class="span3">
    <col class="span3">
  </colgroup>
  <caption>
    <h2>Weboniser List</h2>
  </caption>
  <thead>
  <tr style = "background-color: #A2AFCC;">
    <th>ID</th>
    <th>Name</th>
    <th>Email</th>
    <th><div align="center">
      <%= link_to "Assign User", assign_user_admin_users_path, :class => "btn btn-info" %>
    </div>
    </th>
  </tr>
  </thead>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <div align="center">
          <%= link_to "Received",to_feedback_admin_user_path(user), :class => "btn btn-success" %>
          <%= link_to "Given & Assigned",from_feedback_admin_user_path(user), :class => "btn btn-success" %>
          <%#= link_to "Assigned", assigned_feedback_admin_user_path(user), :class => "btn btn-success" %>
          </div>
        </td>
      </tr>
  <% end %>
</table>
<%= page_navigation_links @users %>