<table class="table" id="user_table">
  <colgroup>
    <col class="span2">
    <col class="span3">
    <col class="span3">
    <col class="span3">
  </colgroup>
  <caption>
    <h2>Weboniser List</h2>
  </caption>
  <thead>
  <tr style = "background-color: #333; color: #fff;">
    <th style="border-right:1px solid  #84c225;">ID</th>
    <th style="border-right:1px solid  #84c225;">Name</th>
    <th style="border-right:1px solid  #84c225;">Email</th>
    <th style="border-right:1px solid  #84c225;"><div align="center">
      <%= link_to "Assign User", assign_user_admin_users_path, :class => "btn btn-infos" %>
    </div>
    </th>
  </tr>
  </thead>
  <% @users.each do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.name %></td>
        <td><%= user.email %></td>
        <td>
          <div align="center">
          <%= link_to "Received",to_feedback_admin_user_path(user), :class => "btn btn-infos" %>
          <%= link_to "Given & Assigned",from_feedback_admin_user_path(user), :class => "btn btn-infos" %>
          <%#= link_to "Assigned", assigned_feedback_admin_user_path(user), :class => "btn btn-success" %>
          </div>
        </td>
      </tr>
  <% end %>
</table>
<%= page_navigation_links @users %>