<% if @user_session.errors.any? %>
    <div class="alert alert-error" align="center">
      <a class="close" data-dismiss="alert"> × </a>
      <% @user_session.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
      <% end %>
    </div>
<%end%>
<div class="row">
  <div class="span5 offset3 login_container" >
    <%= form_for @user_session, :html => { :class => "form-horizontal"} do |f| %>
        <legend>Login</legend>
        <div class="control-group">
          <label class="control-label">
            <%=f.label :email %>
          </label>
          <div class="controls">
            <%= f.email_field :email, :placeholder => "Email"%>
          </div>
        </div>
        <div class="control-group">
          <label class="control-label">
            <%=f.label :password %>
          </label>
          <div class="controls">
            <%= f.password_field :password %>
          </div>
        </div>
        <div class="control-group">
          <div class="controls">
            <%= f.submit "Log In", :class => "btn btn-success" %>
            <%= link_to "cancel", root_path, :class => "btn" %>
          </div>
        </div>
    <% end %>

  </div>
</div>
<div class="row">
  <div class="span10 offset1 webonise_logo">
    <img src="/assets/weboniselab.png" >
  </div>
</div>
